@import "../bower_components/ddbreakpoints/lib/dd.breakpoints";
@import "../../lib/pantheon";

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	background: #F8F8F8;
	padding: 20px;
	font-size: 13px;
}
h1, h2, h3 {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 300;
}
h1 {
	font-size: 3em;
}
h1, h2, h3 {
	margin: 1em 0;
}
h4 {
	margin: 0 0 1em;
}
p code {
	white-space: nowrap;
	color: #B40037;
}
pre {
	background: #FFF;
	border: solid 1px #EAEAEA;
	padding: .5em;
}

%container-style {
	background: #FFF;
	border: solid 2px #47CCEA;
	padding: 10px;

	code {
		display: inline-block;
		padding: 4px;
	}
}
%column-style-1 {
	padding: 10px;
	border: solid 2px #FC687B;
	code {
		background: #FC687B;
	}
}
%column-style-2 {
	padding: 10px;
	border: solid 2px #FCB768;
	code {
		background: #FCB768;
	}
}

.sample {
	@extend %container-style;

	@include is-plan(4) {
		.big-item {
			@extend %column-style-1;
			@include is-column(m 4);
		}
		.item {
			@extend %column-style-2;
			@include is-column(m 2, xl 1);
		}
		@include bp(m, l) {
			.item:nth-child(4) {
				clear: left;
			}
		}
	}
}

.offsets {
	@extend %container-style;

	@include is-plan(3) {
		.left {
			@extend %column-style-1;
			@include is-column(m 1);
		}
		.right {
			@extend %column-style-2;
			@include is-column(m 1 1);
		}
	}
}

.twitter-demo {
	@extend %container-style;
}
.twitter {
	> div {
		@extend %column-style-1;
	}

	@include is-plan(9) {
		.a {
			@include is-column(m 3, l 1);
		}
		.b {
			@include is-column(m 2);
		}
		.c {
			@include is-column(m 3);
		}
		.d {
			@include is-column(m 4);
		}
		.e {
			@include is-column(m 4);
		}
		.f {
			@include is-column(m 5);
		}
		.g {
			@include is-column(m 9);
		}
	}
}

.padding-demo {
	code {
		@extend %column-style-1;
		display: block;
	}
	@include is-plan(6, 20px) {
		.column {
			@include is-column(xs 2, s 3, m 2, l 1);
		}
	}
}
